.home-cover {
  background-image: url("/public/Images/homepage_cover.png");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 95vh;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.welcomeTitles {
  color: white;
  width: 60%;
}

.welcomeTitle {
  font-family: "Fira Sans", sans-serif;
  word-break: break-word;
  font-size: 3rem !important;
  font-weight: 700;
  width: 100%;
}

.welcomeSubtitle {
  font-family: "Fira Sans", sans-serif;
  word-break: break-word;
  font-size: 1.25rem !important;
  line-height: 2rem;
  font-weight: 500;
  width: 100%;
}

@media screen and (max-width: 720px) {
  #container {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .welcomeTitles {
    width: 90%;
  }
}
