#containerPA {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  max-width: 1170px;
}

body {
  background-color: #121212;
}

.carousel-root {
  width: 80%;
  margin: 0 auto;
}

/* 
.carousel {
  position: absolute;
  top: 100%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-prev {
  position: absolute;
  top: 150px;
  left: -40%;
  width: 100px;
  height: 50px;
  font-size: xx-large;
  color: white;
  background-color: transparent;
}

.carousel-next {
  position: absolute;
  top: 150px;
  right: -40%;
  width: 100px;
  height: 50px;
  font-size: xx-large;
  color: white;
  background-color: transparent;
}

.carousel-img {
  width: 500px;
  height: relative;
} */
