@media screen and (max-width: 960px) {
    .sections{
        flex-direction: column!important;
        align-items: center;
    }
    .column{
        width: 90%!important;
    }
    .subtitle{
        padding-bottom: 3rem!important;
    }
    .blink {
        margin-top: -1%!important;
    }
}

.blink {
    animation: blinker 1.5s linear infinite;
    color: gray;
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem;
    margin-top: -3%;
    font-weight: 200;
    
}
@keyframes blinker {
    100% {
        opacity: 0;
    }
}


#container1 {
    width: 100%;
    height: 100%;
    align-items: center;
    position:relative;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: #0d0d0df8;
}

.titles {
    color: white;
    width: 100%;
}

.title {
    padding-top: 1%;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 2.05rem!important;
    font-stretch: extra-expanded;
}
  
.subtitle {
    font-family: "Fira Sans", sans-serif;
    word-break: break-word;
    font-size: 1rem !important;
    line-height: 2rem;
    font-weight: 400;
    margin-top: -0.5%;
    padding-bottom: 6rem;
  
}

.sections{
    padding-left: 4%;
    padding-right: 1%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section_title{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Fira Sans", sans-serif;
    word-break: break-word;
    font-size: 1.5rem !important;
    font-weight: 600;
    padding-bottom: 1rem;
}

.section_subtitle{
    text-align: left;
    font-family: "Fira Sans", sans-serif;
    word-break: break-word;
    font-weight: 600;
    font-size: 1.25rem !important;
}

.section_contents{
    font-family: "Fira Sans", sans-serif;
    padding-bottom: 0.5rem;
    text-align: left;
    color: rgb(176, 173, 173);
    font-size: 1rem
}

.column {
    float: left;
    width: 25%;
}

.blue_color{
    padding-left:2%;
    color:rgb(128, 171, 239);
    font-family: "Fira Sans", sans-serif;
    word-break: break-word;
    font-size: 1.5rem !important;
    font-weight: 500;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}