.cover {
    background-image: url("/src/Images/homepage_cover.png");
    display: block;
    height: 94vh;
    opacity: 1;
    position: absolute;
    top: 1;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    font-size: 0;
}

#container1 {
    width: 90%;
    height: 90vh;
    align-items: center;
    position:relative;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.titles {
    color: white;
    width: 100%;
}

.title {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
}
  
.subtitle {
    font-family: "Fira Sans", sans-serif;
    word-break: break-word;
    font-size: 1rem !important;
    line-height: 2rem;
    font-weight: 500;
    padding-bottom: 4rem;
  
}

.sections{
    text-align: center;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sections:after {
    content: "";
    display: table;
    clear: both;
}

.section_title{
    font-family: "Fira Sans", sans-serif;
    word-break: break-word;
    font-size: 1.5rem !important;
    font-weight: 700;
    padding-bottom: 1rem;
}

.section_subtitle{
    text-align: left;
}

.section_contents{
    padding-bottom: 0.5rem;
    text-align: left;
    color: gray;
    font-size: 1.15rem
}

.column {
    float: left;
    width: 28%;
}
