.dropdown-menu a {
    display: block;
    padding: 5px;
  }
  
  .dropdown-menu a:hover {
    cursor: pointer;
    background-color: #3a3a3a;
  }

#container_2 {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 1170px;
    flex: 50%
}
.column_pro{
    position: relative;
    padding-top: 4%;
    flex: 40%
}

.row {
    display: flex;
    padding-left: 10%;
}

.titles{
    color:white;
}

.project_name{
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 2.5rem !important;
    font-stretch: extra-expanded;
}

.time_line{
    font-family: "Fira Sans", sans-serif;
    padding-bottom: 1rem;
    font-size: 1.3rem !important;
    line-height: 2rem;
    font-weight: 600;
}

.description{
    font-family: "Fira Sans", sans-serif;
    font-size: 0.95rem !important;
    font-weight: 200;
    max-width: 650px;
}

.team{
    padding-top: 3rem;
    font-family: "Fira Sans", sans-serif;
    padding-bottom: 1rem;
    font-size: 1.5rem !important;
    line-height: 2rem;
    font-weight: 600;
}

img{
    padding-bottom: 2rem;;
}

.images{
    display: flex;
    flex-direction: row;
}

.tech_stack{
    display: flex;
    flex-direction: column;
}

.subtitle_pro{
    font-family: "Fira Sans", sans-serif;
    font-size: 1.5rem !important;
    line-height: 2rem;
    font-weight: 600;
    padding-top: 2%;
}

.padding{
    padding-top:3%;
}