#logo-animation {
  display: inline-block;
  filter: drop-shadow(-25px 25px 25px rgba(26, 58, 70, 0.7));
  z-index: 3;
  position: absolute;
}

/* logo animation  */
#logo-animation svg {
  display: block;
}

#logo-animation svg path,
#logo-animation svg g {
  transform-box: fill-box;
}

#inner,
#outer,
#middle {
  animation-timing-function: cubic-bezier(0.73, 1.46, 0.95, 0.85);
  animation-fill-mode: both;
}

#inner {
  transform-origin: 55% 55%;
  -moz-transform-origin: 59% 50%;
  animation: flip_in 8s infinite forwards;
}

#middle {
  transform-origin: 55% 50%;
  -moz-transform-origin: 55% 50%;
  animation: flip_mid 8s infinite forwards;
  animation-delay: 0.8s;
  filter: drop-shadow(-25px 25px 25px rgba(26, 58, 70, 0.7));
}

#outer {
  transform-origin: 55% 50%;
  -moz-transform-origin: 51% 50%;
  animation: flip_out 8s infinite forwards;
  animation-delay: 1.4s;
  filter: drop-shadow(-25px 25px 25px rgba(26, 58, 70, 0.7));
}

@keyframes flip_in {
  20% {
    -webkit-transform: rotateY(40deg);
  }
  40% {
    -webkit-transform: rotateY(-40deg);
  }
  60% {
    -webkit-transform: rotateY(-35deg);
  }
  80% {
    -webkit-transform: rotateY(35deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}

@keyframes flip_mid {
  20% {
    -webkit-transform: rotateY(-40deg);
  }
  40% {
    -webkit-transform: rotateY(40deg);
  }
  60% {
    -webkit-transform: rotateY(35deg);
  }
  80% {
    -webkit-transform: rotateY(-35deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes flip_out {
  20% {
    -webkit-transform: rotateY(30deg);
  }
  40% {
    -webkit-transform: rotateY(-30deg);
  }
  60% {
    -webkit-transform: rotateY(-25deg);
  }
  80% {
    -webkit-transform: rotateY(25deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
