.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #272727;
  padding: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

.socialIcon {
  width: 24px;
  height: 24px;
  margin: 0 16px;
  fill: white;
}

.footerBlock {
  flex-basis: 33%;
  color: white;
  margin: 0 16px;
}

.blockone {
  font-weight: 500;
  line-height: 2rem;
  font-family: "Fira Sans", sans-serif !important;
  font-size: 1.25rem !important;
  letter-spacing: 0.0125em !important;
}

.blocktwo {
  text-align: center;
  font-family: "Fira Sans", sans-serif !important;
}

.blockthree {
  text-align: right;
}

@media screen and (max-width: 960px) {
  .footerContainer {
    flex-direction: column;
  }
  .blockone {
    display: none;
  }
  .blockthree {
    text-align: center;
    margin-top: 1rem;
  }
}
